.display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  /* border: 1px solid blue; */
}

.search-input {
  display: flex;
  flex-direction: column;
  /* border: 1px solid orangered; */
  border-radius: 10px;
  padding: 10px 30px;
  margin-bottom: 1rem;
}

.search-input h4 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.search-input input {
  /* max-width: 15rem; */
  padding: 0.4rem 0.2rem;
}

.display-country {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  border: 1px solid orangered;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
  border: 1px solid orange;
  height: 200px;
}

.arrow {
  align-self: flex-end;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}